#blog-header{
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bgc-black-medium-opa{
  background-color: rgba(0,0,0,0.3)
}

.light-font{
  font-weight: lighter;
}

.bold-font{
  font-weight: bold;
}

.italic-font{
  font-style: italic;
}

*{
  box-sizing: border-box;
}
